<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pause Notifications</title>
    <link rel="stylesheet" href="../styles/pause.css">
</head>
<body>
    <div class="main-container">
        <div class="alerts-container">
        </div>
        <input type="checkbox" checked class="notif-toggle"></button>
        <button class="clear-btn">Clear</button>
    </div>

    <script src="../dist/pause.js"></script>
</body>
</html>
