<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Input</title>
    <link rel="stylesheet" href="../styles/search-input.css">
</head>
<body>
    <div class="main-container">
        <p class="search-text">Search me baby one more time</p>
        <input class="search-bar" placeholder="Search anything here.." />
        <p style="font-size: 1.5em" class="response-container"></p>
    </div>

    <script src="../dist/searchInput.js"></script>
</body>
</html>